
.content {
    position:relative;
}

aside {
    display:flex;
    flex:30%;
}

.container {
    position: absolute;
    top: 30px;
    min-width: 20%;
    height: 700px; 
    border-radius: 10px;
    background-color: lightblue;
    max-width: fit-content;
}

.weather {
    position: absolute;
    top:30px;
    left: 25%;
    width: 20%;
    min-height: 350px;
    height: fit-content;
    background-color: darkorange;
    border-radius: 5px;
    text-align: center;
}
.forcast {
    position: absolute;
    top: 400px;
    left: 25%;
    width: 70%; 
    min-height: 299px;
    height:auto;
    background-color: darkorange;
    border-radius: 5px;
}
.columns {
    display: flex;
}
.columns > * {
    flex-basis: 100%;
}

.card {
    min-width: 70px ;
    height: fit-content;
    text-align: center;
    justify-content: center;
    background-color: darkorange;
}

#searchBtn {
    background-color: rgb(0, 153, 255);
    border: 3px solid rgb(0, 153, 255);
    border-radius: 5px; 
    color: white;
}

.temp {
    font-size: 50px;
}

.iconc {
    height: 70px;
    width: 70px;
}

.tempc {
    font-size: 50px;
}

